/* .navbar {
    position: sticky;
    top: 0;
    z-index: 2;
} */

.navbar-brand {
    font-family: Creepster;
    font-size: 1.5em;
    color: #198457;
}

a:focus, a:hover {
    color: #198457;
}

a:focus {
    font-weight: 600;
}
