.characters {
    margin: 2% 0;
}
.character-card {
    margin: 2% 0;
    margin-left: 2%;
    width: 15rem;

}

/* .search {
    position: sticky;
    top: 80px;
    background-color: #fff;
    z-index: 2;
    margin-top: 0;
} */